[submodule "MorphemeSegmentationForUniversalDependencies"]
	path = MorphemeSegmentationForUniversalDependencies
	url = https://github.com/Innokentii-Smirnov/MorphemeSegmentationForUniversalDependencies.git
